body {
    font-family: 'Heebo', sans-serif;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}

/*footer*/

.footer-hover:hover {
    cursor: pointer;
    color: #e8505b !important;
}

.footer-hover:hover a {
    background: #e8505b !important;
    border: 1px solid #e8505b !important;
}

/*partner*/

.partner-hover:hover {
    opacity: 1 !important;
    transition: all .3s ease-out 0s;
}

/*service*/

.col-hover:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05);
}

/*hero*/

.btn-hero {
    position: relative;
    background: #e8505b;
    color: white;
    overflow: hidden;
    z-index: 5;
}

.btn-hero:hover {
    color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 5px 5px 2px rgba(232, 80, 91, 0.45);
}

.btn-hero::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: all .3s ease-out 0s;
    transform: translate3d(-50%,-50%,0) scale(0);
}

.btn-hero:hover::after {
    width: 100%;
    height: 100%;
    transform: translate3d(-50%,-50%,0) scale(1.3);
}

/*reponsive add*/

@media screen and (min-width: 992px) {
    .nav-item a::before {
        content: '';
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(232, 80, 91, 0.25);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.3s ease-out 0s;
        z-index: -1;
    }
    
    .nav-item a:hover::before{
        transform: translate(-50%, -50%) scale(1);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    h1 {
        font-size: 55px;
    }
}

@media screen and (min-width: 992px) {
    .-mt-30 {
        margin-top: -30px !important;
    }
}
